{
	order cgi before respond
}

himbeerserver.de {
	tls /etc/ssl/uacme/himbeerserver.de/cert.pem /etc/ssl/uacme/private/himbeerserver.de/key.pem {}

	reverse_proxy /_matrix/* localhost:8008

	root * /srv/www/static

	file_server
	templates

	redir / /md/index.md permanent

	@base {
		path /base/*

		not path /base/*.css
		not path /base/*.png
	}

	@markdown {
		path_regexp /md/.*\.md$
	}

	@well_known {
		path /favicon.ico
	}

	handle @markdown {
		rewrite * /base/render.html
	}

	handle @well_known {
		file_server
	}

	handle @base {
		error 403
	}

	handle_errors {
		file_server
		templates

		handle {
			rewrite * /base/error.html
		}
	}
}

www.himbeerserver.de {
	tls /etc/ssl/uacme/himbeerserver.de/cert.pem /etc/ssl/uacme/private/himbeerserver.de/key.pem {}

	redir {scheme}://himbeerserver.de{uri} permanent
}

git.himbeerserver.de {
	tls /etc/ssl/uacme/himbeerserver.de/cert.pem /etc/ssl/uacme/private/himbeerserver.de/key.pem {}

	root * /srv/www/static

	@base {
		path /base/*

		not path /base/*.css
		not path /base/*.png
	}

	@well_known {
		path /favicon.ico
	}

	handle @well_known {
		file_server
	}

	handle @base {
		error 403
	}

	handle_path /base/* {
		root * /srv/www/static/base
		file_server
	}

	handle_path /cgit/* {
		root * /usr/share/cgit
		file_server
	}

	handle {
		cgi * /usr/lib/cgit/cgit.cgi
	}

	handle_errors {
		file_server
		templates

		handle {
			rewrite * /base/error.html
		}
	}
}
